.title {
    color : blue;
    text-align: center;
}

.main {
    
    width: 95%;
    height: 92vh;
    padding: 5px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*background-color: brown;*/
}